<!DOCTYPE html>
<html lang="ru">
<head>
	<!-- all important stuff -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- adding google font Mulish -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mulish">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
	<title>Labs destroyer</title>
</head>
<body>
	<!-- adding javascript file with my code -->
	<!-- <script type="text/javascript" src="js/jscode.js"></script> -->
	<div class = "bodyMain">
		<a class="bigBtns" href="/lab.pdf">getPdf</a>
	</div>
</body>
</html>
